<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="springPlaceholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>/WEB-INF/conf.properties</value>
		</property>
	</bean>
	
	<!-- ibatis config -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url">
			<value>${datasource.url}</value>
		</property>
		<property name="username">
			<value>${datasource.userName}</value>
		</property>
		<property name="password">
			<value>${datasource.password}</value>
		</property>
		<!--
			<property name="url"
			value="jdbc:mysql://192.168.222.102:3306/music2_db?useUnicode=true&amp;characterEncoding=utf-8"
			/> <property name="username" value="dev" /> <property name="password"
			value="dev" />
		-->
		<property name="validationQuery" value="select 1" />
		<property name="testWhileIdle" value="true" />
		<property name="minEvictableIdleTimeMillis" value="1800000" />
		<property name="initialSize" value="30"/>
        <property name="maxActive" value="100"/>
        <property name="maxIdle" value="50"/>
        <property name="minIdle" value="30"/>
        <property name="maxWait" value="60000"/>
	</bean>
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean"
		scope="singleton">
		<property name="configLocation" value="WEB-INF/sqlMapConfig.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="sqlMapClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate"
		depends-on="transactionManager">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<!--
		Instruct Spring to perform declarative transaction management
		automatically on annotated classes.
	-->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="dao" class="com.kascend.frameworkcommons.dao.BaseDaoImpl"
		abstract="false" lazy-init="true">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate" />
	</bean>
	<bean id="baseService" class="com.kascend.frameworkcommons.service.BaseService"
		abstract="true" lazy-init="true">
		<property name="dao" ref="dao" />
	</bean>
	<bean id="springUtil" class="com.kascend.frameworkcommons.util.SpringUtil" />
	<bean id="configService" class="com.kascend.frameworkcommons.config.Configer"
		parent="baseService" scope="singleton" init-method="init" />
	
	<bean id="apiTimeTask" class="com.kascend.music2.api3.service.util.ApiTimeTask" parent="baseService" scope="singleton">
		<property name="metadataDao">
			<ref bean="metadataDao" />
		</property>
	</bean>
	
	<bean id="method_apiTimeTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="apiTimeTask" />
		<property name="targetMethod" value="doExecute" />
	</bean>
	
	
	<bean id="task_apiTimeTask" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="method_apiTimeTask" />
		<property name="cronExpression" value="0 0 23 * * ?" /><!--每日凌晨零点执行 ，左到右 秒，分，时，日，月，年   -->
	</bean>
	
	 
	<bean id="spideSiteTime" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="task_apiTimeTask"/>
			</list>
		</property>
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.threadPool.threadCount">2</prop>
			</props>
		</property>
	</bean>
</beans>